<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Ingresar impresora</h4>
                <h6 class="card-subtitle">Ingreso:</h6>

                    <form class="form-horizontal p-t-20"
                    [formGroup]="printerForm"                    
                    (submit)="guardarImpresora()">

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Serial</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" 
                                        formControlName="serial"
                                        class="form-control" 
                                        id="exampleInputuname3" 
                                        placeholder="Serial">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Modelo</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" 
                                        formControlName="modelo"
                                        class="form-control" 
                                        id="exampleInputuname3" 
                                        placeholder="Modelo">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Ciudad</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" 
                                        formControlName="ciudad"
                                        class="form-control" 
                                        id="exampleInputuname3" 
                                        placeholder="Ciudad">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Empresa</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" 
                                        formControlName="empresa"
                                        class="form-control" 
                                        id="exampleInputuname3" 
                                        placeholder="Empresa">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">CO</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" 
                                        formControlName="centro_operacion"
                                        class="form-control" 
                                        id="exampleInputuname3" 
                                        placeholder="Control de operaciones">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Sucursal</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" 
                                        formControlName="sucursal"
                                        class="form-control" 
                                        id="exampleInputuname3" 
                                        placeholder="Sucursal">
                            </div>
                        </div>
                    </div>


                
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" 
                                    [disabled]="printerForm.invalid"
                                    class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-safari" >
                                    Guardar
                                </i>
                            </button>
                        </div>
                    </div>
                </form>

 
            </div>
        </div>
    </div>
</div>
