<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ingresar impresora</h4>
                <h6 class="card-subtitle">Ingreso:</h6>
                <form class="form p-t-20">

                    <div class="form-group">
                        <label for="exampleInputuname">Serial</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-accusoft"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Serial">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Modelo</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Modelo">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Ciudad</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Ciudad">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Empresa</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Empresa">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Centro de operaciones</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="CO">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Sucursal</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Sucursal">
                        </div>
                    </div>



                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>